body{
  background-image: url("image1.jpg");
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
}

#title{
  display:flex;
  justify-content:center;
  font-family:fantasy;
  font-size: 350%;
  color:white;
}

.contentItem{
 border: 2px solid white;
 border-radius: 12px;
 padding: 5px;
 border-bottom:10px;
 border-top: 10px;
 border-left:20px;
 border-right:20px;

}
