body{
  background-image: url("image1.jpg");
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
}

#title{
  display:flex;
  justify-content:center;
  font-family:fantasy;
  font-size: 350%;
  color:white;
}

.contentItem{
 border: 2px solid white;
 border-radius: 12px;
 margin-top: 50px;
 margin-bottom: 50px;
 margin-right: 450px;
 margin-left: 450px;
 opacity: 0.8;
}
